:root {
  /* declaring colour variables */
  --orange: #f8b400; 
  --light: #faf5e4;
  --lightOpaque: rgba(	250,	245,	228, 0.5);
  --green: #2b786c;
  --dark: #004445;
  --greenOpaque: rgba(43, 120, 108, 0.85)
  
  }



* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--dark);
      /*just for visualisation whilst developing*/
      /* border: 1px solid plum; */
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;

}
h1 {
  font-size: 26pt;
}

/* header flex box (contains 2 items; a header and a nav bar) */
header {
  display: flex;
  background-color: var(--dark);
  justify-content: space-between;
}
  .headerFlexItem {
    margin: 30px 30px 30px 0;
    padding: 0 20px 0 40px;
    color: var(--dark);
    background-color: var(--light);
    justify-content:flex-start;
  }
/* nav bar flex box - contains 4 directory items */
  .navFlex {
    padding: 10px 40px 10px 10px;
    margin: 10px;
    display: flex;
    text-decoration: underline;
    color: var(--orange);
  }
    .navFlexItem {
      padding:10px;
      margin: 10px;
      background-color: var(--dark);
      color: var(--orange);
    }

/* hero image */
.heroImageContainer {
  position: relative;
  text-align: center;
}
#heroImage {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
#coolSubtitle {
  position: absolute;
  bottom: 30px;
  right: 60px;
  color: var(--dark);
  background-color: var(--lightOpaque);
  padding: 0 20px 0 20px;
}

/* main */
main {
  background-color: var(--light);
  z-index: -1;
}

/* main grid */
h2, h3, h4, h5 {
  font-size:20pt;
}

#mainGrid {
  display: grid;
  grid-template-rows: 300px 700px 100px;
  grid-template-columns: 1fr 3fr;
  grid-template-areas: 
  "about aboutP"
  "work workGrid"
  "contactMe contactMeFlex";
}

.mainGridItem {
  margin: 20px;
}

/*main grid items listed */
#about, #work, #contactMe {
  border: 2px var(--dark);
  border-style: none solid none none;
  margin: 5%;
  padding-right: 5%;
  text-align: right;
}
#profile-image {
  width: 80%;
  z-index: -1;
  border-radius: 100%;
  float: inline-start;
  padding: 4%;
}
#about {
  grid-area: about;
}
#aboutP {
  grid-area: aboutP;
}
#work {
  grid-area: work;
}
#workGrid {
  grid-area: workGrid;
}
#contactMe {
  grid-area: contactMe;
}
#contactMeFlex {
  grid-area:contactMeFlex;
}

/*contact me flex */
.contactMeFlex {
  display: flex;
  justify-content: space-around;
  padding: 2%;
  text-decoration: underline;
}

/* work grid */
#workGrid {
  display: grid;
  grid-template-rows: 2fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
  "workItem1 workItem1"
  "workItem2 workItem3"
  "workItem4 workItem5";
  gap: 20px;
}
.workGridItem {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  text-decoration: none;
  display: grid;
  justify-content: start;
  align-content: end;
  padding-bottom: 30px;
  border: 5px solid var(--green);
}
#workItem1 {
  grid-area: workItem1;
  background-image: url("../images/horiseon-deployed-page.jpg");
  background-position-y: 32%;
  background-size: 110%;
}

#workItem2 {
  grid-area: workItem2;
  background-image: url("../images/prework-study-guide.png");
  background-position-y: 18%;
  background-size: 133%;
}
#workItem3 {
  grid-area: workItem3;
  background-image: url("../images/tacos-hand-written.jpg");
}
#workItem4 {
  grid-area: workItem4;
  background-image: url("../images/applause-meter.jpg");
  background-size: cover;
  background-position-y: 45%;
}
#workItem5 {
  grid-area: workItem5;
  background-image: url("../images/student-bio.png");
  background-position-x: left;
  background-position-y: 40%;
  background-size: 140%;
}
.heading {
  padding: 15px;
  background-color: var(--greenOpaque);
  font-size: 20px;
  color: var(--light);
}
.toolsUsed {
  font-size: 12px;
  font-style: italic;
  color: var(--orange);
}