* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #f8b400;
      /* temporary visualisation elements */
      /* background-color: bisque; 
      border: solid 1px brown;  */
}
/* colour pallet 
first-color { 
	background: #f8b400; 
} -- orange
second-color { 
	background: #faf5e4; 
} -- cream
third-color { 
	background: #2c786c; 
} -- green
fourth-color { 
	background: #004445; 
} -- blue */

/* header flex box (contains 2 items; a header and a nav bar) */
header {
  display: flex;
/*  flex-basis: auto;
  align-content: center;
  padding-top: 10px;
  padding-bottom: 10px; */
  background-color: #004445;
  justify-content: space-between;
}
  .headerFlexItem {
    margin: 30px;
    margin-left: 0;
    padding: 0px;
    padding-right: 20px;
    padding-left: 40px;
    color: #004445;
    background-color: #faf5e4;
    justify-content:flex-start;
  }
  /* nav bar flex box - contains 4 directory items */
  .navFlex {
    padding: 10px;
    padding-right: 40px;
    margin: 10px;
    display: flex;
    list-style-type: none;
    text-decoration: underline;
  }
    .navFlexItem {
      padding:10px;
      margin: 10px;
      background-color: #004445;
    }

/* hero image */
.heroImageContainer {
  position: relative;
  text-align: center;
}
#heroImage {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
#coolSubtitle {
  position: absolute;
  bottom: 30px;
  right: 60px;
  color: #004445;
  background-color: 	rgba(	250,	245,	228, 0.8);
  padding-left: 20px;
  padding-right: 20px;
}

/* main grid */
body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h3, h4, h5 {
  font-size:x-large;
}


#mainGrid {
  margin: 0px 5%;
  display: grid;
  grid-template-rows: 300px 300px 300px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
  "about aboutP"
  "work workGrid"
  "contactMe contactMeFlex";
}
#about {
  grid-area: about;
}
#aboutP {
  grid-area: aboutP;
}
#work {
  grid-area: work;
}
#workGrid {
  grid-area: workGrid;
}
#contactMe {
  grid-area: contactMe;
}
#contactMeFlex {
  grid-area:contactMeFlex;

/*
h1 {

}
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}
