:root {
  /* declaring colour variables */
  --orange: #f8b400; 
  --light: #faf5e4;
  --lightOpaque: rgba(	250,	245,	228, 0.8);
  --green: #2c786c;
  --dark: #004445;
  }



* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--dark);
      /*just for visualisation whilst developing*/
        border-style: solid;
        border-color: plum;
        border-width: 1px;
}
h1 {
  font-size: xx-large;
}

/* header flex box (contains 2 items; a header and a nav bar) */
header {
  display: flex;
  background-color: var(--dark);
  justify-content: space-between;
}
  .headerFlexItem {
    margin: 30px;
    margin-left: 0;
    padding: 0px;
    padding-right: 20px;
    padding-left: 40px;
    color: var(--dark);
    background-color: var(--light);
    justify-content:flex-start;
  }
/* nav bar flex box - contains 4 directory items */
  .navFlex {
    padding: 10px;
    padding-right: 40px;
    margin: 10px;
    display: flex;
    text-decoration: underline;
    color: var(--orange);
  }
    .navFlexItem {
      padding:10px;
      margin: 10px;
      background-color: var(--dark);
      color: var(--orange);
    }

/* hero image */
.heroImageContainer {
  position: relative;
  text-align: center;
}
#heroImage {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
#coolSubtitle {
  position: absolute;
  bottom: 30px;
  right: 60px;
  color: var(--dark);
  background-color: var(--lightOpaque);
  padding-left: 20px;
  padding-right: 20px;
}

/* main grid */
body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h2, h3, h4, h5 {
  font-size:x-large;
}


#mainGrid {
  display: grid;
  grid-template-rows: 300px 700px 100px;
  grid-template-columns: 1fr 3fr;
  grid-template-areas: 
  "about aboutP"
  "work workGrid"
  "contactMe contactMeFlex";
  color: var(--dark);
}

.mainGridItem {
  margin: 20px;
}

/*main grid items listed */
#about, #work, #contactMe {
  border-style: none solid none none;
  border-color: var(--dark);
  border-width: 2px;
  margin: 5%;
  padding-right: 5%;
  text-align: right;
}
#about {
  grid-area: about;
}
#aboutP {
  grid-area: aboutP;
}
#work {
  grid-area: work;
}
#workGrid {
  grid-area: workGrid;
}
#contactMe {
  grid-area: contactMe;
}
#contactMeFlex {
  grid-area:contactMeFlex;
}

/*contact me flex */
.contactMeFlex {
  display: flex;
  justify-content: space-around;
  padding: 2%;
  text-decoration: underline;
}

/* work grid */
#workGrid {
  display: grid;
  grid-template-rows: 2fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
  "workItem1 workItem1"
  "workItem2 workItem3"
  "workItem4 workItem5";
  gap: 20px;
}
.workGridItem {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  display: grid;
  justify-content: start;
  align-content: end;
  padding-bottom: 30px;
}
#workItem1 {
  grid-area: workItem1;
  background-image: url("");
}
#workItem2 {
  grid-area: workItem2;
  background-image: url("");
}
#workItem3 {
  grid-area: workItem3;
  background-image: url("");
}
#workItem4 {
  grid-area: workItem4;
  background-image: url("");
}
#workItem5 {
  grid-area: workItem5;
  background-image: url("");
}
.heading {
  padding: 5px;
}